## App
APP_PORT=3000

## Mercado Pago
MP_PUBLIC_KEY=APP_USR-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MP_ACCESS_TOKEN=APP_USR-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

## Webhook
MP_WEBHOOK_URL=https://tudominio.com/payments/webhook
